<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298243867296-cv1plnal26r6rfust58gan04s2c9aumg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298243867296-cv1plnal26r6rfust58gan04s2c9aumg</string>
	<key>API_KEY</key>
	<string>AIzaSyAyIS3NF7qG23VxwfertNHJpD_PA9IXv7M</string>
	<key>GCM_SENDER_ID</key>
	<string>298243867296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>listify-fb4b8</string>
	<key>STORAGE_BUCKET</key>
	<string>listify-fb4b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298243867296:ios:5ffc6ce34cde999688bfc5</string>
	<key>DATABASE_URL</key>
	<string>https://listify-fb4b8.firebaseio.com</string>
</dict>
</plist>